[gen_app_battle_field_y] {
	flex-wrap: nowrap;
}

[gen_app_battle_field_cell] {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border: 1px solid gray;
	border-radius: 1rem;
}

[gen_app_battle_field_cell_unit_list] {
	flex-direction: column;
}

[gen_app_battle_field_unit] {
	border: 1px dashed green;
	border-radius: 1rem;
}

[gen_app_battle_field_unit][active='true'] {
	background: peru;
}

[gen_app_battle_field_unit][preview='true'] {
	box-shadow: inset 0px 0px 10px 3px red;
}