[gen_app_talent_x] {
	overflow: scroll;
	width: 500px;
}

[gen_app_talent_page_y] {
	flex-wrap: nowrap;
}

[gen_app_talent_talent_cell] {
	border: 1px dashed antiquewhite;
	border-radius: 1rem;
	width: 3.5rem;
	height: 3.5rem;
	align-items: center;
	justify-content: center;
}

[gen_app_talent_talent_cell][open='true'] {
	border: 1px dashed green;
}