[gen_app_talent_y] {
	overflow: scroll;
	width: 500px;
	height: 500px;
}

[gen_app_talent_page_x] {
	flex-wrap: nowrap;
}

[gen_app_talent_talent] {
	border: 1px dashed antiquewhite;
	border-radius: 1rem;
	width: 3rem;
	height: 3rem;
	align-items: center;
	justify-content: center;
}